<footer>
    <div class="footer">
        <div class="icons">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-x-twitter"></i>
            <i class="fa-brands fa-square-instagram"></i>
        </div>
        <div class="airInc">
             <p>&copy; 2023 aribnb.Inc</p>
        </div>
        <div class="last">
            <p class="last1"><a href="/" class="a">privacy</a></p>
            <br>
            <p class="last1"><a href="/"class="a" >terms</a></p>
            <br>
            <p class="last1"><a href="/" class="a">sitemap</a></p>
            <br>
            <p class="last1"><a href="/" class="a">comanpy details</a></p>
        </div>
        
    </div>
</footer>